<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Reset your password </title>
    </head>
    <body>
        <p>
            We heard that you lost your password. <br>
            <br>
            But don't worry! You can use the following link below to reset your password: <br>
            <br>
            <a href="buildersrecords.com{{ url_for('password_reset') }}"> Reset my password </a> <br>
            <br>
            -From the BuildersRecords team
       </p>
    </body>
</html>
