{% extends "layout.html" %}
{% block title %} BuildersRecords {% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='js/password_reset_confirmation.js') }}"></script>{% endblock %}
{% block body %}
    <body class="body">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Navigation Bar Header -->
                <div class="navbar-header">
                    <!-- Navigation Bar Brand -->
                    <a class="navbar-brand" href="{{ url_for('home') }}"> BuildersRecords </a>
                </div>
            </div>
        </nav>
        <!-- Page Header -->
        <div class="container">
            <div class="page-header text-center">
                <h2> Password reset confirmation sent! </h2>
            </div>
        </div>
        <!-- Well -->
        <div class="container">
            <div class="row">
				        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="well">
                        <!-- Message -->
                        <p> We’ve sent you an email containing a link that will allow you to reset your password.
                            Please check your spam folder if the email doesn’t appear within a few minutes.
                        </p>
                        <br><br>
                        <!-- Return Button -->
                        <div class="text-right">
                            <button id="login_button" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                <b> Return to home </b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>{{ super() }}
    </body>{% endblock %}
