{% extends "layout.html" %}
{% block title %} BuildersRecords {% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='js/preview.js') }}"></script>{% endblock %}
{% block body %}
    <body class="body">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Navigation Bar Header -->
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"> Toggle navigation </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Navigation Bar Brand -->
                    <a class="navbar-brand" href="{{ url_for('home') }}"> BuildersRecords </a>
                </div>
                <!-- Navigation Bar List Items -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('account') }}">
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b> {{ username }} </b>
                            </a>
                        </li>
                        <li style="padding-left: 0.75em;">
                            <button id="logout_button" style="width: 6.5em" type="button" class="btn btn-danger navbar-btn">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <b> Log Out </b>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
        <!-- Alert -->
        <div class="container">
            <div id="alert" class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"> &times; </span>
                </button> <b> {{ message }} </b>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <!-- Page Header -->
        <div class="container">
            <div class="page-header">
                <h1> Preview Your Project
                <small> | {{ project_name }} </small>
                </h1>
                <hr>
            </div>
        </div>
        <!-- Buttons -->
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-push-9">
                    <button id="create_project_button" type="button" class="btn btn-primary btn-lg">
                        <b> Create Project </b>
                    </button>
                </div>
                <br>
                <div class="col-sm-9 col-sm-pull-3">
                    <button id="add_button" type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <b> Add </b>
                    </button>
                    <button id="delete_project_button" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        <b> Delete </b>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <!-- Table -->
        <div class="container">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </th>
                        <th> Cost Category </th>
                        <th> Description </th>
                        <th> Budget </th>
                        <th> Actual </th>
                        <th> Action </th>
                    <tr>
                </thead>
                {% set grand_total = {'budget': 0.0, 'actual': 0.0} %}
                {% for category in categories %}
                <tbody>
                    <tr>
                        <th></th>
                        <th colspan="5">
                            <span class="text-success"> {{ category.category_name }} </span>
                        </th>
                    </tr>
                    {% set total = {'budget': 0.0, 'actual': 0.0} %}
                    {% for item in category.item_list %}
                    <tr>
                        <td> <input type="checkbox"> </td>
                        <td> {{ item.cost_category }} </td>
                        <td> {{ item.notes }}  </td>
                        <td align="right"> ${{ '{:,.2f}'.format(item.budget) }} </td>
                        <td align="right"> ${{ '{:,.2f}'.format(item.actual) }} </td>
                        <td><button id="1" type="button" class="btn btn-danger delete_item_button"
                                    data-toggle="tooltip" data-placement="top" title="Delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <button id="1" type="button" class="btn btn-default edit_item_button"
                                    data-toggle="tooltip" data-placement="top" title="Edit">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                        {% if total.update({'budget': total.budget + item.budget, 'actual': total.actual + item.actual}) %} {% endif %}
                    {% endfor %}
                    <tr>
                        <th></th>
                        <th></th>
                        <th> Total {{ category.category_name }} </th>
                        <td align="right"> <b> ${{ '{:,.2f}'.format(total.budget) }} </b> </td>
                        <td align="right"> <b> ${{ '{:,.2f}'.format(total.actual) }} </b> </td>
                        <th></th>
                    </tr>
                    {% if grand_total.update({'budget': grand_total.budget + total.budget, 'actual': grand_total.actual + total.actual}) %} {% endif %}
                </tbody>
                {% endfor %}
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="text-success"> Project Grand Total </th>
                        <td class="text-success" align="right"> <b> ${{ '{:,.2f}'.format(grand_total.budget) }} </b> </td>
                        <td class="text-success" align="right"> <b> ${{ '{:,.2f}'.format(grand_total.actual) }} </b> </td>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- Modal - Delete Item -->
        <div class="container">
            <div class="modal fade" id="delete_item_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button>
                            <h4 class="modal-title">
                                <b> Delete Item </b>
                            </h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p class="text-center"> </p>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> <b> Cancel </b> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal - Edit Project -->
        <div class="container">
            <div class="modal fade" id="edit_item_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button>
                            <h4 class="modal-title">
                                <b> Edit Item </b>
                            </h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> <b> Cancel </b> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        {{ super() }}
    </body>{% endblock %}
